body {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 50;
  z-index: 100;

  background-color: #18453B;

  -moz-box-shadow:    0px 0px 12px #000000;
  -webkit-box-shadow: 0px 0px 12px #000000;
  box-shadow:         0px 0px 12px #000000;

  margin-bottom: 10px;
}

content {
  display: block;
  width: 960px;
  margin: auto;
}

header h1 {
  text-align: center;
  vertical-align: middle;

  color: white;

  margin: 0;
  padding-top: 5px;
}

button {
  position: absolute;
  right: 10px;
  top: 13px;
}
